.parent {
    z-index: 2;
    background: rgb(227, 227, 228);
    padding-top: 100px;
    height: 1400px;
    background-image: url('../assets/contact.jpg');
    background-size: cover;
}

.info {
    padding: 60px;
    height: 350px;
}

.info p {
    margin-top: 30px;
    margin-bottom: 45px;
}

.info a {
    margin-left: 7px;
}

.form {
    padding-top: 100px;
    padding-left: 85px;
    height: 750px;
}

.email input {
    margin-top: 5px;
    width: 90%;
    min-width: 425px;
    border: none;
    border: rgb(89, 88, 88) solid 3px;
    border-radius: 7px;
}

.email input:focus {
    background-color: rgb(249, 246, 223);
}

.warning {
    color: red;
}

.message textarea {
    margin-top: 5px;
    width: 90%;
    min-width: 425px;
    height: 250px;
    resize: none;
    border: none;
    border: rgb(89, 88, 88) solid 3px;
    border-radius: 7px;
}

.message textarea:focus {
    background-color: rgb(250, 249, 236);
}

.upButtonContainer {
    position: relative;
    float: right;
}

@keyframes bounce {
    from { 
      transform: translateY(0) scale(1);
    }
    to   { 
      transform: translateY(25px) scale(1, 0.7);
    }
}
.upButton {
    float: right;
    width: 30px;
    color:rgb(78, 77, 77);

    position: absolute;
    animation-name: bounce;
    animation-duration: 0.5s;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035);
    animation-iteration-count: infinite;
}

/* Desktop view: */
@media (min-width: 992px) {
    .parent {
        padding-top: 0;
        min-height: 1050px;
        height: 100vh;
    }

    .info {
        padding: 60px;
        padding-top: 170px;
        height: 750px;
    }

    .form {
        padding-top: 100px;
        height: 750px;
    }

    .email input {
        min-width: 400px;
        max-width: 800px;
    }
    
    .message textarea {
        min-width: 400px;
        max-width: 800px;
    }
}

@media (min-height: 1200px) {  
    .lastRow {
        height: 280px;
        padding-top: 12%;
    }
}