.parent {
    background: rgb(227, 227, 228);
    padding-top: 100px
}

.info {
    padding: 60px;
    height: 200px;
}

.info h5 {
    margin-top: 30px;
    margin-bottom: 45px;
}

.form {
    padding-top: 100px;
    padding-left: 85px;
    height: 750px;
}

.email input {
    margin-top: 5px;
    width: 400px;
}

.message textarea {
    margin-top: 5px;
    width: 400px;
    height: 250px;
    resize: none;
}

/* Desktop view: */
@media (min-width: 767.98px) {
    .info {
        padding: 60px;
        padding-top: 170px;
        height: 750px;
    }

    .form {
        padding-top: 100px;
        height: 750px;
    }
}