.parent {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 900px;
}

/* Desktop view: */
@media (min-width: 767.98px) {
    .parent {
        height: 1080px;
    }
}
