/* rgb(234, 244, 249) */
.parent {
    background: rgb(221, 248, 248);
}

.outerContainer {
    margin-top: 10%;
}

.base {
    height: 100px;
}


/* Desktop view: */
@media (min-width: 990px) {
    .parent {
        padding-top: 0;
        height: 1700px;
    }

    .base {
        height: 300px;
    }
}

