.parent {
    margin: 0;
    padding: 0;
}

/* Upper half:  background: rgb(192, 215, 223);*/
.introContainer {
    padding-top: 8%; /* color area above banner */
    padding-bottom: 3%; 
    background: #f2f1f1;
}

.banner {
    margin-top: 9%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(92, 92, 92);
}

.description {
    margin: 2.5% 8% 2% 8%;
    text-align: center;
}

.description > h4 {
    font-size: 18px;
}

.buttonRow {
    text-align: center;
}

.button {
    height: 60px;
    width: 230px;
    font-size: 20px;
    color: rgb(67, 67, 67);
    background-color: rgb(122, 221, 228);
    border: solid 3px rgb(122, 221, 228);
    border-radius: 4px;
}

.button:hover {
    width: 240px;
    background-color: white;
    border: solid 3px rgb(23, 146, 160); 
    font-size: 21px;
    color:rgb(23, 146, 160);
    transition: all .1s ease;
}

/* Lower half: */

.skillsContainer {
    margin: 0% 12%;
}

.skillsContainer h1 {
    color: rgb(75, 75, 75);
    margin-top: 10px;
}

.skillBlock {
    border: solid none 5px;
    height: 250px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

/* Icons: */




/* Desktop view: */
@media (min-width: 990px) { /* 990px for columns' breakpoint */
    .parent {
        min-height: 1100px;
        height: 100vh;
    }

    .banner {
        margin-top: 0;
    }
}