.projectBox {
    margin-top: 5%;
    background: rgb(248, 246, 242);
    height: 650px;
    
}

.pix {
    height: 350px;
    background-position: center;
    background-size: cover;
}

.description {
    height: 300px;
    overflow: auto;
}


/* Still 1 column: */
@media (min-width: 760px) {
    .projectBox {
        margin-top: 0%;
    }
}

/* Still 1 column: */
@media (min-width: 800px) {
    .projectBox {
        margin-top: 0%;
    }
}

/* 2 columns: */
@media (min-width: 901px) {
    .projectBox {
        margin-top: 0%;
    }
}

/* 3 columns: */
@media (min-width: 1200px) {
    .projectBox {
        margin-top: 5%;
    }
}





