.orcasound {
    background-image: url('../assets/orca.jpg');
}

.humanityforward {
    background-image: url('../assets/humanity.jpg');
}

.democracylab {
    background-image: url('../assets/democracy.jpg');
}

.accessibilityapp {
    background-image: url('../assets/accessibility.jpg');
}
